@{
    ViewData["Title"] = "Software";
}

<h1>@ViewData["Title"]</h1>
<h2>
    <a href=" https://github.com/JNC02221" target="_blank"> Code Repository</a>
</h2>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

