@{
    ViewData["Title"] = "Education";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>My Education</h3>
    <ul>
        <li>
            <strong>University Name:</strong> Example University<br />
            <strong>Degree:</strong> Bachelor of Science in Computer Science<br />
            <strong>Year:</strong> 2015 - 2019
        </li>
        <li>
            <strong>University Name:</strong> Another University<br />
            <strong>Degree:</strong> Master of Science in Software Engineering<br />
            <strong>Year:</strong> 2020 - 2022
        </li>
    </ul>
</div>