@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: rgb(142, 228, 194, 1);
    }
    hr {
        width: 100%;
        margin: 0;
        border: 1px solid #000; /* Optional: Customize the line's appearance */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome test</h1>
    <h2> <a href="https://www.linkedin.com/in/jackson-cinnamond/" target="_blank"> LinkedIn </a></h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hr>

<div class="text-center">
    <p>Additional content can go here.</p>
</div>
