@{
    ViewData["Title"] = "Test Page";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <img src="~/Pictures/TestIMG.jpg" />
</div>

<p>Hi my name is jackson</p>
<p>@ViewBag.Message</p>
